<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="movil.reclamos.com.pe.reclamos">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/reclamo_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReclamosActivity"
            android:label="Registrar Reclamo"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ConsultarReclamoActivity"
            android:label="Consultar Reclamo" />
        <activity
            android:name=".ListaReclamoActivity"
            android:label="Lista de Reclamos" />
        <activity
            android:name=".NotificacionActivity"
            android:label="Ver Notificacion" />
        <activity
            android:name=".ConfigActivity"
            android:label="Configuraciones" />

        <activity android:name=".DetalleReclamoActivity"
            android:label="Detalle de Reclamo"/>

    </application>

</manifest>